<footer id="footer" class="text-center">
			<section class="partners-section">
				<div class="container-fluid">
					<strong class="sup-title">Proactive IT Systems</strong>
					<h1>Established solution partners</h1>
					<ul class="partners-list">
						<li>
							<picture>
								<source srcset="images/img-partner01.png, images/img-partner01-2x.png 2x">
								<img src="images/img-partner01.png" alt="Microsoft">
							</picture>
						</li>
						<li>
							<picture>
								<source srcset="images/img-partner02.png, images/img-partner02-2x.png 2x">
								<img src="images/img-partner02.png" alt="Hp">
							</picture>
						</li>
						<li>
							<picture>
								<source srcset="images/img-partner03.png, images/img-partner03-2x.png 2x">
								<img src="images/img-partner03.png" alt="WatchGuard">
							</picture>
						</li>
						<li>
							<picture>
								<source srcset="images/img-partner04.png, images/img-partner04-2x.png 2x">
								<img src="images/img-partner04.png" alt="cisco.">
							</picture>
						</li>
					</ul>
				</div>
			</section>
			<div class="call-box">
				<div class="container-fluid">
					<span>Call us</span>
					<a href="tel:01509808586">01509 80 85 86</a>
				</div>
			</div>
			<div class="social-networks-holder">
				<div class="container-fluid">
					<strong class="title">Follow us and ask for more:</strong>
					<ul class="social-networks">
						<li><a href="#"><i class="icon icon-google-plus"></i></a></li>
						<li><a href="#"><i class="icon icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon icon-instagram"></i></a></li>
						<li><a href="#"><i class="icon icon-behance"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="footer-frame">
				<div class="container-fluid">
					<strong class="logo"><a href="#">Deeserve</a></strong>
					<nav class="sub-nav">
						<ul>
							<li><a href="#">IT Support</a></li>
							<li><a href="#">Security</a></li>
							<li><a href="#">Hardware</a></li>
							<li><a href="#">Cloud</a></li>
							<li><a href="#">About us</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</footer>