<section class="live-straming-section">
				<span class="bg-capture" style="background-image:url(images/img08.jpg);"></span>
				<span class="bg-capture x2" style="background-image:url(images/img08-2x.jpg);"></span>
				<div class="holder">
					<div class="container-fluid container-small">
						<strong class="sup-title">The future made simple</strong>
						<h1>Live Streaming</h1>
						<span class="title-notes">Live Streaming content can be provided from fixed, permanently installed cameras or portable cameras.<br class="d-none d-sm-block">We offer the complete solution, from camera installation to monitoring the stream going out to a worldwide audience.</span>
					</div>
					<div class="container-fluid">
						<ul class="items-list alt">
							<li>
								<div class="img-box">
									<picture>
										<!--[if IE 9]><video style="display: none;"><![endif]-->
											<source srcset="images/icon01.png, images/icon01-2x.png 2x">
										<!--[if IE 9]></video><![endif]-->
										<img src="images/icon01.png" alt="">
									</picture>
								</div>
								<h2>Speed</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
							</li>
							<li>
								<div class="img-box">
									<picture>
										<!--[if IE 9]><video style="display: none;"><![endif]-->
											<source srcset="images/icon02.png, images/icon02-2x.png 2x">
										<!--[if IE 9]></video><![endif]-->
										<img src="images/icon02.png" alt="">
									</picture>
								</div>
								<h2>Cross platform</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
							</li>
							<li>
								<div class="img-box">
									<picture>
										<!--[if IE 9]><video style="display: none;"><![endif]-->
											<source srcset="images/icon03.png, images/icon03-2x.png 2x">
										<!--[if IE 9]></video><![endif]-->
										<img src="images/icon03.png" alt="">
									</picture>
								</div>
								<h2>Experience</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
							</li>
						</ul>
					</div>
				</div>
			</section>