<form class="submit-form text-center">
				<div class="container container-medium">
					<h1 class="wow fadeIn">Want to work with us?</h1>
					<strong class="title-notes wow fadeIn">We are driven by creating experiences that deliver<br class="d-none d-sm-block">results for your business and for your consumers</strong>
					<div class="row">
						<div class="form-group col-md wow fadeInLeft">
							<input type="text" class="form-control" placeholder="Your name">
						</div>
						<div class="form-group col-md wow fadeInRight">
							<input type="email" class="form-control" placeholder="E-mail">
						</div>
					</div>
					<div class="row">
						<div class="form-group col wow fadeInUp">
							<textarea class="form-control" rows="5" cols="30" placeholder="Message"></textarea>
						</div>
					</div>
					<button type="submit" class="btn btn-warning btn-block btn-lg wow fadeInUp">Get in touch</button>
					<div class="alt-box wow fadeInUp">
						<span>Or just email on</span>
						<a href="mailto:&#104;&#101;&#108;&#108;&#111;&#064;&#100;&#101;&#101;&#115;&#101;&#114;&#118;&#101;&#046;&#099;&#111;&#046;&#117;&#107;">&#104;&#101;&#108;&#108;&#111;&#064;&#100;&#101;&#101;&#115;&#101;&#114;&#118;&#101;&#046;&#099;&#111;&#046;&#117;&#107;</a>
					</div>
				</div>
			</form>