@font-face {
	font-family: 'Avenir Next';
	font-style: normal;
	font-weight: normal;
	src: local('../fonts/AvenirNextCyr-Regular'), url('../fonts/AvenirNextCyr-Regular.woff') format('woff');
}
@font-face {
	font-family: 'Avenir Next';
	font-style: normal;
	font-weight: 600;
	src: local('../fonts/AvenirNextCyr-Demi'), url('../fonts/AvenirNextCyr-Demi.woff') format('woff');
}
@font-face {
	font-family: 'Avenir Next';
	font-style: normal;
	font-weight: 100;
	src: local('../fonts/AvenirNextCyr-Thin'), url('../fonts/AvenirNextCyr-Thin.woff') format('woff');
}
@font-face {
	font-family: 'Avenir Next';
	font-style: normal;
	font-weight: 300;
	src: local('../fonts/AvenirNextCyr-Light'), url('../fonts/AvenirNextCyr-Light.woff') format('woff');
}
@font-face {
	font-family: 'Avenir Next';
	font-style: normal;
	font-weight: 500;
	src: local('../fonts/AvenirNextCyr-Medium'), url('../fonts/AvenirNextCyr-Medium.woff') format('woff');
}
@font-face {
	font-family: 'Avenir Next';
	font-style: normal;
	font-weight: bold;
	src: local('../fonts/AvenirNextCyr-Bold'), url('../fonts/AvenirNextCyr-Bold.woff') format('woff');
}
@font-face {
	font-family: 'Avenir Next';
	font-style: normal;
	font-weight: 900;
	src: local('../fonts/AvenirNextCyr-Heavy'), url('../fonts/AvenirNextCyr-Heavy.woff') format('woff');
}