$breakpoints:(
	'xs-phone':320px,
	'phone':480px,
	'tablet':768px,
	'desktop':992px,
	'widescreen':1200px,
	'widescreen-large':1440px
);

// keywords
$media-expressions:(
	'screen':'screen',
	'print':'print',
	'handheld':'handheld',
	'landscape':'(orientation:landscape)',
	'portrait':'(orientation:portrait)',
	'retina2x':'(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)',
	'retina3x':'(-webkit-min-device-pixel-ratio:2.5), (min-resolution:240dpi)'
);

// ligatured operators ≥ ≤

@import 'bootstrap-grid';
@import 'bootstrap';

@import 'vendors/include-media';
@import 'vendors/normalize';
@import 'vendors/swiper';

@import 'base/variables';
@import 'base/fonts';
@import 'base/icons';
@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';

body{
	min-width:320px;
	font:#{$base-font-size}/#{$base-line-height}  $font-family-base;
}
a, button, input[type="submit"]{
	cursor:pointer;
	transition:color 0.2s ease, background-color 0.2s ease, opacity 0.2s ease, border-color 0.2s ease, visibility 0.2s ease, transform 0.2s ease;
	-webkit-transition:color 0.2s ease, background-color 0.2s ease, opacity 0.2s ease, border-color 0.2s ease, visibility 0.2s ease, -webkit-transform 0.2s ease;
}
img{
	vertical-align:top;
	max-width:100%;
}
h1{
	margin:0 0 21px;
	font-size:52px;
	line-height:58px;
	font-weight:500;
	color:#43484d;
	letter-spacing:-0.04em;
	@include media("<desktop") {
		font-size:39px;
		line-height:46px;
	}
	@include media("<tablet") {
		font-size:32px;
		line-height:40px;
	}
}
h2{
	margin:0 0 40px;
	font-size:46px;
	line-height:54px;
	font-weight:300;
}
.btn{
	&.btn-more {
		position:relative;
		padding:11px 55px 11px 17px;
		font-size:14px;
		line-height:21px;
		font-weight:600;
		border-width:2px;
		border-radius:24px;

		&:after{
			@include add-icon('\e003');
			position:absolute;
			right:13px;
			top:50%;
			font-size:15px;
			line-height:1;
			transform:translateY(-50%);
		}
	}
	&.btn-outline-warning{
		&:hover {
			color:#fff;
		}
	}
}
.sup-title{
	display:block;
	padding:0 0 30px;
	font-size:18px;
	line-height:22px;
	font-weight:500;
	color:#86939e;
	@include media("<tablet") {
		padding:0 0 20px;
		font-size:16px;
	}
}
.title-notes{
	display:block;
	padding:0 0 60px;
	font-size:16px;
	line-height:32px;
	font-weight:normal;
	color:#5e6977;
	@include media("<tablet") {
		padding:0 0 40px;
		font-size:15px;
		line-height:26px;
	}
}
#wrapper .container{
	@extend %clearfix;
	max-width:1440px;
	margin:0 auto;
	&.container-medium{
		max-width:770px;
	}
	&.container-small{
		max-width:710px;
	}
	&.no-paddings{
		padding:0;
	}
}
#wrapper{
	position:relative;
	overflow:hidden;
	padding:100px 0 0;
	@include media("<widescreen") {
		padding:0;
	}
}
#header{
	position:fixed;
	z-index:3;
	left:0;
	top:0;
	width:100%;
	color:#fff;
	background:$primary;
	@include media("<widescreen") {
		position:static;
	}
	&:before{
		display:none;
		position:absolute;
		z-index:4;
		content:"";
		left:0;
		top:0;
		width:100%;
		height:60px;
		background:$primary;
		pointer-events:none;
		@include media("<widescreen") {
			display:block;
		}
	}
	.container{
		display:flex;
		justify-content:space-between;
		padding:0;
	}
	.call-box{
		flex-shrink:0;
		min-width:330px;
		padding:38px 20px 34px 10px;
		font-size:20px;
		line-height:28px;
		color:$info-text-color;
		@include media("<widescreen") {
			min-width:0;
			padding:20px 10px;
			font-size:16px;
			line-height:22px;
		}
		span{
			padding:0 0 0 48px;
			&:before{
				top:0;
				width:32px;
				height:31px;
				background:url(../images/icon-phone.png) no-repeat;
				@include media("retina2x") {
					background-image:url(../images/icon-phone-2x.png);
					background-size:cover;
				}
				@include media("<widescreen") {
					top:-5px;
				}
			}
		}
	}
}
.logo{
	flex-shrink:0;
	float:left;
	padding:34px 13px 0 40px;
	@include media("<widescreen-large") {
		padding-left:25px;
	}
	@include media("<widescreen") {
		padding:16px 20px;
	}
	a{
		display:block;
		width:134px;
		height:28px;
		text-indent:-9999px;
		overflow:hidden;
		background:url(../images/logo.png) no-repeat;
		background-size:100% 100%;
		@include media("retina2x") {
			background-image:url(../images/../images/logo-2x.png);
			background-size:100% 100%;
		}
		@include media("<widescreen") {
			position:relative;
			z-index:4;
		}
	}
}
.nav-holder{
	flex-grow:1;
	@include media("<widescreen") {
		position:absolute;
		z-index:3;
		left:0;
		top:0;
		width:100%;
		height:100%;
		background:rgba(255, 255, 255, 0);
		cursor:pointer;
		pointer-events:none;
		transition:background-color 0.3s ease;
	}
	.nav-slider{
		display:flex;
		@include media("<widescreen") {
			flex-direction:column;
			position:absolute;
			right:0;
			top:0;
			bottom:0;
			width:320px;
			max-width:80%;
			overflow:auto;
			padding:60px 0 0;
			background:$primary;
			cursor:default;
			transition:transform 0.3s ease-out;
			transform:translateX(100%);
		}
	}
	.nav-active &{
		@include media("<widescreen") {
			background:rgba(255, 255, 255, 0.3);
			pointer-events:auto;
		}
		.nav-slider{
			@include media("<widescreen") {
				transition-timing-function:ease-out;
				transform:translateX(0);
			}
		}
	}
}
.nav-opener{
	display:none;
	position:absolute;
	right:0;
	top:0;
	width:65px;
	height:60px;
	@include media("<widescreen") {
		display:block;
		z-index:4;
	}
	&:before,
	&:after,
	span{
		position:absolute;
		content:'';
		top:50%;
		left:15px;
		right:10px;
		height:4px;
		margin-top:-2px;
		border-radius:2px;
		background:$warning;
		transform-origin:2px 2px;
		transition:transform 0.3s ease, opacity 0.3s ease;
	}
	&:before{transform:translate(0, -13px);}
	span{right:17px;}
	&:after{
		right:13px;
		transform:translate(0, 13px);
	}
	.nav-active &{
		&:before,
		&:after{
			right:8px;
			top:50%;
		}
		&:before{transform:translate(0, -13px) rotate(45deg);}
		&:after{transform:translate(0, 13px) rotate(-45deg);}
		span{opacity:0;}
	}
}
.navigation{
	@extend %clearfix;
	flex-grow:1;
	padding:39px 0 0;
	font-size:20px;
	line-height:27px;
	font-weight:500;
	@include media("<widescreen") {
		flex-grow:0;
		padding:0;
	}
	ul{
		@extend %listreset;
	}
	li{
		float:left;
		padding:0 26px;
		@include media("<widescreen-large") {
			padding:0 2.3%;
		}
		@include media("<widescreen") {
			float:none;
			padding:0;
		}
	}
	a{
		display:block;
		position:relative;
		padding:0 0 34px;
		color:#fff;
		text-decoration:none;
		@include media("<widescreen") {
			padding:15px 20px 15px 35px;
		}
		&:after{
			position:absolute;
			content:"";
			left:0;
			bottom:0;
			width:100%;
			height:4px;
			background:$warning;
			transform:scale(1, 0);
			transform-origin:0 100%;
			transition:transform 0.2s ease, opacity 0.2s ease;
			@include media("<widescreen") {
				width:5px;
				height:100%;
				transform:scale(1, 1);
				opacity:0;
			}
		}
	}
	.active a,
	a:hover{
		@include media("<widescreen") {
			background:rgba(255, 255, 255, 0.15);
		}
		&:after{
			background:$warning;
			transform:scale(1, 1);
			@include media("<widescreen") {
				opacity:1;
			}
		}
	}
}
.call-box{
	padding:55px 20px 44px 10px;
	font-size:30px;
	line-height:40px;
	font-weight:500;
	color:#fff;
	text-align:center;
	background:$warning;
	letter-spacing:-0.025em;
	@include media("<tablet") {
		padding:24px 10px;
		font-size:20px;
		line-height:30px;
	}
	span{
		display:inline-block;
		vertical-align:top;
		position:relative;
		padding:0 4px 0 74px;
		@include media("<tablet") {
			padding:0 4px 0 64px;
		}
		&:before{
			position:absolute;
			content:"";
			left:0;
			top:-5px;
			width:50px;
			height:50px;
			background:url(../images/icon-phone-light.png) no-repeat;
			background-size:cover;
			@include media("retina2x") {
				background-image:url(../images/icon-phone-light-2x.png);
				background-size:cover;
			}
			@include media("<tablet") {
				width:40px;
				height:40px;
			}
		}
	}
	a{
		font-weight:bold;
		color:#fff;
	}
}
#main{
	position:relative;
	z-index:2;
	padding:0;
}
.bg-capture{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:#000;
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-size:cover;
	@include media("retina2x") {
		display:none;
	}
	&.x2{
		display:none;
		@include media("retina2x") {
			display:block;
		}
	}
}
.welcome-banner{
	display:flex;
	align-items:center;
	position:relative;
	min-height:calc(100vh - 100px);
	font-size:22px;
	line-height:34px;
	color:#fff;
	text-align:center;
	@include media("<widescreen") {
		min-height:calc(100vh - 60px);
	}
	@include media("<tablet") {
		display:block;
		min-height:0;
		font-size:17px;
		line-height:27px;
	}
	*{
		color:inherit;
	}
	.bg-frame{
		position:absolute;
		left:0;
		top:0;
		width:100%;
		height:100%;
		@include media("<tablet") {
			position:relative;
			left:auto;
			top:auto;
			height:260px;
		}
	}
	>.holder{
		position:relative;
		z-index:1;
		width:100%;
		padding:78px 0 110px;
		@include media("<tablet") {
			padding:20px 0 69px;
			background:$info-text-color;
		}
	}
	h1{
		margin:0 0 35px;
		font-size:96px;
		line-height:110px;
		font-weight:bold;
		letter-spacing:-0.063em;
		@include media("<tablet") {
			margin:0 0 14px;
			font-size:36px;
			line-height:44px;
			letter-spacing:0;
		}
	}
	.anchor-link{
		position:absolute;
		z-index:1;
		left:50%;
		bottom:46px;
		padding:10px;
		font-size:33px;
		outline:0;
		transform:translateX(-50%);
		@include media("<tablet") {
			bottom:22px;
		}
		&:hover{
			color:$warning;
			text-decoration:none;
		}
	}
	.anchor{
		position:absolute;
		left:0;
		bottom:100px;
		width:0;
		height:0;
		pointer-events:none;
		@include media("<widescreen") {
			bottom:0;
		}
	}
}
.article-block{
	position:relative;
	@include media("<desktop") {
		font-size:17px;
		line-height:28px;
	}
	@include media("<tablet") {
		text-align:center;
	}
	&:nth-child(even){
		.row{
			flex-direction:row-reverse;
			@include media("<tablet") {
				flex-direction:column-reverse;
			}
		}
	}
	&.alt{
		text-align:center;
		.text-box{
			width:520px;
		}
		h1{
			margin:0 0 45px;
			font-weight:500;
			@include media("<desktop") {
				margin:0 0 24px;
			}
		}
		.img-box{
			min-height:814px;
			@include media("<widescreen") {
				min-height:650px;
			}
			@include media("<desktop") {
				min-height:500px;
			}
			@include media("<tablet") {
				min-height:380px;
			}
		}
	}
	.anchor{
		position:absolute;
		left:0;
		top:-100px;
		width:0;
		height:0;
		pointer-events:none;
		@include media("<widescreen") {
			top:0;
		}
	}
	.container{padding:0;}
	.row{
		@include media("<tablet") {
			flex-direction:column-reverse;
		}
	}
	.text-holder{
		display:flex;
		justify-content:center;
		align-items:center;
	}
	.text-box{
		width:434px;
		max-width:100%;
		padding:30px 15px;
		@include media("<tablet") {
			padding:30px 25px;
		}
	}
	.top-icon{
		display:inline-block;
		vertical-align:top;
		margin:0 0 21px;
	}
	h1{
		margin:0 0 20px;
		font-weight:normal;
	}
	p{
		margin:0 0 53px;
		@include media("<desktop") {
			margin:0 0 30px;
		}
	}
	.more{
		display:inline-block;
		vertical-align:top;
		position:relative;
		padding:0 25px 2px 0;
		font-size:16px;
		line-height:22px;
		font-weight:600;
		&:after{
			@include add-icon('\e003');
			position:absolute;
			right:0;
			top:50%;
			font-size:11px;
			line-height:1;
			transform:translateY(-50%);
		}
	}
	.socials{
		padding:81px 0 0;
		@include media("<desktop") {
			padding:30px 0 0;
		}
	}
	.img-box{
		position:relative;
		min-height:700px;
		@include media("<widescreen") {
			min-height:540px;
		}
		@include media("<desktop") {
			min-height:400px;
		}
		@include media("<tablet") {
			min-height:300px;
		}
	}
}
.socials{
	padding:0 0 20px;
	.title{
		display:block;
		font-size:16px;
		line-height:25px;
		font-weight:500;
		color:$warning;
		opacity:0.8;
	}
}
.items-frame{
	padding:59px 0 35px;
	color:#fff;
	text-align:center;
	background:#1e273b;
	background-image:radial-gradient(circle at 49% 107%, #1e273b, #192030);
	.items-list p{
		color:#d0e5ff;
	}
}
.items-list{
	@extend %listreset;
	font-size:0;
	line-height:0;
	text-align:center;
	&.alt{
		li{
			width:386px;
			padding:0 30px 30px;
		}
		.img-box{
			margin:0 0 14px;
		}
	}
	li{
		display:inline-block;
		vertical-align:top;
		width:293px;
		max-width:100%;
		padding:0 15px 30px;
		font-size:16px;
		line-height:25px;
	}
	.img-box{
		display:flex;
		justify-content:center;
		align-items:center;
		min-height:52px;
		margin:0 0 21px;
	}
	h2{
		margin:0 0 11px;
		font-size:18px;
		line-height:25px;
		font-weight:bold;
	}
	h3{
		margin:0 0 11px;
		font-size:18px;
		line-height:25px;
		font-weight:normal;
		a{
			color:inherit;
			&:hover{
				color:$warning;
				text-decoration:none;
			}
		}
	}
	p{
		margin:0;
	}
}
.clients-section{
	padding:160px 0 60px;
	text-align:center;
	.container{
		max-width:1204px;
		padding:0 15px;
	}
	h3{
		margin:0 0 67px;
		font-size:18px;
		line-height:25px;
		font-weight:500;
		color:$warning;
	}
	.swiper-container {
		width:100%;
		height:100%;
	}
	.thumbnails-pagination{
		display:flex;
		justify-content:space-between;
		align-items:center;
		.thumbnail{
			cursor:pointer;
			opacity:0.3;
			transition:opacity 0.3s ease;
			&.active{
				opacity:1;
			}
		}
	}
	.swiper-wrapper {
		font-size:0;
		line-height:0;
		white-space:nowrap;
	}
	.swiper-slide {
		display:inline-block;
		vertical-align:top;
		font-size:32px;
		line-height:46px;
		text-align:center;
		white-space:normal;
	}
}
.live-straming-section{
	display:flex;
	align-items:center;
	position:relative;
	min-height:898px;
	color:#fff;
	text-align:center;
	&:after{
		position:absolute;
		content:"";
		left:0;
		top:0;
		width:100%;
		height:100%;
		background:rgba(0, 0, 0, 0.3);
	}
	*{
		color:inherit;
	}
	>.holder{
		position:relative;
		z-index:1;
		width:100%;
		padding:82px 0 20px;
		@include media("<tablet") {
			padding:50px 0 22px;
		}
	}
	.sup-title{
		padding-bottom:19px;
	}
	.title-notes{
		font-size:22px;
		line-height:32px;
		opacity:0.8;
		@include media("<tablet") {
			font-size:18px;
			line-height:27px;
		}
	}
}
.submit-form{
	padding:102px 0 124px;
	@include media("<desktop") {
		padding:80px 0;
	}
	@include media("<tablet") {
		padding:50px 0;
	}
	.form-group{
		margin:0 0 20px;
	}
	.btn-warning{
		padding:18px 20px;
		font-size:16px;
		line-height:22px;
		color:#fff;
		@include media("<tablet") {
			padding:13px 20px;
		}
	}
	.alt-box{
		padding:39px 0 0;
		@include media("<tablet") {
			padding:20px 0 0;
		}
		span{
			display:block;
			padding:0 0 16px;
			font-size:16px;
			line-height:25px;
			font-weight:500;
			color:#86939e;
			@include media("<tablet") {
				padding:0 0 10px;
			}
		}
		a{
			display:inline-block;
			vertical-align:top;
			position:relative;
			padding:0 0 5px;
			font-size:22px;
			line-height:32px;
			color:#5e6977;
			text-decoration:none;
			@include media("<tablet") {
				font-size:20px;
				line-height:28px;
			}
			&:before,
			&:after{
				position:absolute;
				content:"";
				left:0;
				bottom:0;
				width:100%;
				height:1px;
				background:#e1e8ee;
			}
			&:after{
				background:$warning;
				transform:scale(0, 1);
				transition:transform 0.2s ease;
			}
			&:hover{
				&:after{
					transform:scale(1, 1);
				}
			}
		}
	}
}
.form-control{
	height:60px;
	padding:17px 18px;
	font-size:16px;
	line-height:22px;
	color:#86939e;
	border:2px solid $base-input-color;
	border-radius:6px;
	@include media("<tablet") {
		height:50px;
		padding:12px 18px;
	}
	&:hover{
		border-color:darken($base-input-color, 10%);
	}
}
textarea.form-control{
	height:60px;
	min-height:60px;
	max-height:400px;
	@include media("<tablet") {
		height:50px;
		min-height:50px;
	}
}
#footer{
	position:relative;
	z-index:1;
	.social-networks{
		margin:0 -20px;
		font-size:26px;
		line-height:1;
		li{
			padding:10px 20px;
			@include media("<tablet") {
				padding:10px;
			}
		}
		a{
			color:#d0e5ff;
			opacity:0.17;
			&:hover{
				opacity:1;
			}
		}
	}
}
.partners-section{
	padding:57px 0 86px;
	@include media("<desktop") {
		padding:60px 0;
	}
	@include media("<tablet") {
		padding:40px 0;
	}
	background:#f5f8fa;
	h1{
		margin:0 0 40px;
		@include media("<tablet") {
			margin:0 0 30px;
		}
	}
}
.partners-list{
	@extend %listreset;
	margin:0 -23px;
	li{
		display:inline-block;
		vertical-align:middle;
		padding:20px 23px;
	}
}
.social-networks-holder{
	padding:60px 0 46px;
	color:#fff;
	background:#373c49;
	@include media("<desktop") {
		padding:40px 0 30px;
	}
	@include media("<tablet") {
		padding:30px 0 25px;
	}
	.title{
		display:block;
		padding:0 0 21px;
		font-size:17px;
		line-height:30px;
		font-weight:500;
		@include media("<tablet") {
			padding:0 0 12px;
		}
	}
}
.social-networks{
	@extend %listreset;
	margin:0 -10px;
	font-size:19px;
	line-height:1;
	@include media("<tablet") {
		margin:0 -7px;
	}
	li{
		display:inline-block;
		vertical-align:top;
		padding:10px 7px;
		@include media("<tablet") {
			padding:10px;
		}
	}
	a{
		color:#61687a;
		text-decoration:none;
		opacity:0.4;
		&:hover{
			opacity:1;
		}
	}
}
.footer-frame{
	position:relative;
	padding:37px 150px;
	color:#fff;
	background:$primary;
	@include media("<widescreen") {
		padding:28px 0 28px 115px;
	}
	@include media("<tablet") {
		padding:28px 10px 18px;
	}
	.logo{
		position:absolute;
		left:39px;
		top:55px;
		padding:0;
		@include media("<widescreen") {
			left:20px;
			top:40px;
		}
		@include media("<tablet") {
			position:static;
			display:inline-block;
			vertical-align:top;
			float:none;
		}
		a{
			width:95px;
			height:17px;
		}
	}
}
.sub-nav{
	font-size:15px;
	line-height:22px;
	font-weight:500;
	@include media("<widescreen") {
		text-align:right;
	}
	@include media("<tablet") {
		text-align:center;
	}
	ul{
		@extend %listreset;
	}
	li{
		display:inline-block;
		vertical-align:top;
		padding:15px 34px;
		@include media("<widescreen") {
			padding:15px 24px;
		}
		@include media("<widescreen") {
			padding:10px 18px;
		}
	}
	a{
		color:#fff;
		text-decoration:none;
		&:hover{
			color:$warning;
		}
	}
}
.resize-active{
	a, a:before, a:after,
	.nav-holder,
	.nav-holder .nav-slider{
		transition:none !important;
	}
}